@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Gentium+Book+Plus&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700&family=Nunito:wght@400;500;700;900&family=Oswald:wght@200;300;400;500;600;700&family=PT+Serif:wght@700&family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@1,300&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Gentium Book Plus', serif;
    margin: 0;
    padding: 0;
}

.top-bannar{
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9)), url(donate-today-main/images/donation0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 100px;
}

.top-bannar .situation{
    text-align: center;
    width: 55%;
    padding-left: 260px;
    padding-bottom: 180px;
}

.top-bannar .situation h1{
    color: white;
    font-size: 67px;
    padding-top: 180px;
    padding-bottom: 30px;
}

.top-bannar .situation p{
    color: white;
    padding-bottom: 50px;
    font-size: 16px;
}

.btn{
    
    background: #FF5959;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 600;  
}


.title{
    text-align: center;
}

.title p{
    width: 70%;
    margin-left: 200px;
    font-size: 17px;
    color: #444;
    margin-bottom: 50px;
}

.title h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.donate-today{
    margin-bottom: 200px;
}

.donate-today .donation-money .money-amount{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.donate-today .donation-money .money-amount .amount{
    background: #f5f5f5;
    margin-left: 40px;
    padding: 30px 40px;
    color: #707070;
    border-radius: 5px;
}

.donate-today .donation-money .money-amount .active{
    background-color: #FFEEEE;
    padding: 30px 40px;
    margin-left: 40px;
    border-radius: 5px;
    border: 2px solid tomato;
}

.donate-today .donation-money .other-money-add{
    text-align: center;
    margin-bottom: 30px;
}

.donate-today .donation-money .other-money-add #money-add{
    padding: 10px 300px;
    border: none;
    border-bottom: 3px dotted gray;
    outline: none;
    font-size: 20px;
}

.donate-today .donation-money .contact-us{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 100px;
}

.donate-plan .our-plan .plans-for-flood{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

.donate-plan .our-plan .plans-for-flood .food-family{
    background-color: #EDF5F6;
    padding: 20px 20px;
    margin-right: 20px;
}

.donate-plan .our-plan .plans-for-flood .food-family img{
    margin-top: 20px;
    margin-bottom: 10px;
}

.donate-plan .our-plan .plans-for-flood .food-family h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.donate-plan .our-plan .plans-for-flood .food-family p{
    color: #777;
    padding-bottom: 10px;
}

.donate-plan .our-plan .plans-for-flood .shelter-family{
    background-color: #FFEEEE;
    padding: 20px 20px;
    margin-right: 20px;
}

.donate-plan .our-plan .plans-for-flood .shelter-family img{
    margin-top: 20px;
    margin-bottom: 10px;
}

.donate-plan .our-plan .plans-for-flood .shelter-family h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.donate-plan .our-plan .plans-for-flood .shelter-family p{
    color: #777;
    padding-bottom: 10px;
}

.donate-plan .our-plan .plans-for-flood .education-child{
    background-color: #FFF4D6;
    padding: 20px 20px;
}

.donate-plan .our-plan .plans-for-flood .education-child img{
    margin-top: 20px;
    margin-bottom: 10px;
}

.donate-plan .our-plan .plans-for-flood .education-child h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.donate-plan .our-plan .plans-for-flood .education-child p{
    color: #777;
    padding-bottom: 10px;
}



